name: Auto Tweet

on:
  workflow_dispatch:        # 手動実行
#   schedule:
#     - cron: "0 * * * *"     # 毎時0分に実行（必要なら変えてOK）

jobs:
  tweet:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install tweepy

      - name: Run tweet script
        env:
          TWITTER_API_KEY: ${{ secrets.APIKEY}}
          TWITTER_API_SECRET: ${{ secrets.APIKEYSEACRET}}
          TWITTER_ACCESS_TOKEN: ${{ secrets.ACCESSTOKEN}}
          TWITTER_ACCESS_SECRET: ${{ secrets.ACCESSTOKENSEACRET}}
        run: python kt_tweet.py
